@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Joel has many interests other than movies including
        Quick Wits Comedy where he performs regularly and the Baconsale!
    </p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <a href="https://baconsale.com/">Baconsale</a>
    <img src="~/img/baconsalekate.jpg" />
</div>
