@* This page gives basic information about Joel *@
@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="container text-center my-5">
    <h1 class="display-4">Get to Know Joel</h1>
    <p class="lead">
        Joel has many interests other than movies, including <strong>Quick Wits Comedy</strong> where he performs regularly and the <strong>Baconsale</strong> podcast!
    </p>

    <!-- Links with Bootstrap styling -->
    <div class="my-3">
        <a href="https://www.qwcomedy.com/" class="btn btn-primary btn-lg" target="_blank">Quick Wits Comedy</a>
        <a href="https://baconsale.com/" class="btn btn-warning btn-lg ml-3" target="_blank">Baconsale</a>
    </div>

    <!-- Image with responsive class and margin -->
    <div class="my-4">
        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" class="img-fluid rounded shadow" alt="Baconsale Podcast">
        </a>
    </div>
</div>
