@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p class="lead">Learn about Joel and his favorite movies!</p>
</div>

<div class="text-center my-4">
    <img src="~/img/joelhiltonheadshot.jpg" class="rounded-circle img-fluid" alt="Joel Hilton" />
</div>
